<% include layout/header.ejs %>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">Desculpe <br><small class="text-danger"><%= msg %>!</small></h3>
        </div>
        <a href="/templates" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</a>
    </div>
    <script type="text/javascript" src="js/form.js"></script>
    <% include layout/footer.ejs %>
