<% include layout/header.ejs %>
    <div ng-app="rifa-facil">
        <div ng-view></div>
        <script src="/js/routes.js"></script>
        <script src="/js/controllers/RifasController.js"></script>
    </div>
    <% include layout/footer.ejs %>
