<% include layout/header.ejs %>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h1 class="text-center">Template <%= data.template%>!<br><small>Salvo</small></h1>
        </div>
    </div>
    <% include layout/jsplugins.ejs %>
        <script type="text/javascript" src="js/form.js"></script>
        <% include layout/footer.ejs %>
