<% include layout/header.ejs %>
    <div id="header-bg"></div>
    <% include layout/navbar.ejs %>
        <div class="wrapper-welcome text-center">
            <h1 class="">Bem Vindo ao Rifa-Facil<br><small>Total de Visitantes: <span id="visitors"></span></small></h1>
            <a class="btn btn-success" href="/form">Criar rifa</a>
            <a class="btn btn-success" href="/templates">Rifas Salvas</a>
        </div>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script type="text/javascript">
            (function() {
                var socket = io.connect();
                socket.emit('getVisitors');
                socket.on('setVisitors', function(data) {
                    document.getElementById("visitors").innerHTML = data.visitors;
                });
            })();
        </script>
        <% include layout/footer.ejs %>
